<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network 
          host="smtp.yourprovider.com" 
          port="587" 
          userName="support@earlyconnect.com" 
          password="YOUR_SMTP_PASSWORD" 
          enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>